.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    padding: 25px;
    background: #ffffff;
    border-radius: 16px;
    min-width: 250px;

}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}